@tailwind base;
@tailwind components;
@tailwind utilities;

.platform-icon {
    @apply inline-flex justify-center bg-no-repeat bg-contain;
    height: 50px;
    width: 50px;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NSIgaGVpZ2h0PSI0NSIgdmlld0JveD0iMCAwIDQ1IDQ1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjtzdHJva2U6IzAwMzA4MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPnBsYXRmb3JtPC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSI5LjUgMC41IDkuNSA5LjUgMC41IDkuNSAwLjUgNDQuNSA0NC41IDQ0LjUgNDQuNSAwLjUgOS41IDAuNSIvPjwvZz48L2c+PC9zdmc+");
}

.platform-icon-grey {
    @apply inline-flex justify-center bg-no-repeat bg-contain;
    height: 50px;
    width: 50px;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NSIgaGVpZ2h0PSI0NSIgdmlld0JveD0iMCAwIDQ1IDQ1Ij4KICAgIDxkZWZzPgogICAgICAgIDxzdHlsZT4uY2xzLTF7ZmlsbDojZmZmO3N0cm9rZTojOUM5Q0E2O3N0cm9rZS1taXRlcmxpbWl0OjEwO308L3N0eWxlPgogICAgPC9kZWZzPgogICAgPHRpdGxlPnBsYXRmb3JtPC90aXRsZT4KICAgIDxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPgogICAgICAgIDxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+CiAgICAgICAgICAgIDxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSI5LjUgMC41IDkuNSA5LjUgMC41IDkuNSAwLjUgNDQuNSA0NC41IDQ0LjUgNDQuNSAwLjUgOS41IDAuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==");
}