<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/output.css" rel="stylesheet">

    <meta http-equiv="refresh" content="{{ page_reload_in_seconds }}" />
</head>
<body>
    <div class="flex justify-end bg-blue">
        <div class="px-5 py-3 text-5xl font-bold text-white">{{ current_time }}</div>
    </div>
    <div class="grid w-full grid-cols-12 bg-lighter-blue">
        <div class="col-span-1">
            <div class="px-5 py-5 text-2xl font-bold text-right text-blue">Vertrek</div>
        </div>
        <div class="col-span-6">
            <div class="px-5 py-5 text-2xl font-bold text-blue">Naar / Opmerkingen</div>
        </div>
        <div class="col-span-2">
            <div class="px-5 py-5 text-2xl font-bold text-blue">Spoor</div>
        </div>
        <div class="col-span-3">
            <div class="px-5 py-5 text-2xl font-bold text-blue">Trein</div>
        </div>
    </div>
    {% for departure in departures %}
    {% if departure.is_cancelled == false %}
    <div class="grid w-full grid-cols-12">
        <div class="col-span-1">
            <div class="px-5 py-5 text-2xl font-bold text-right text-blue">
                {{ departure.planned_time }}
                {% if departure.delay_in_minutes > 0 %}
                <div class="text-xl text-red">+{{ departure.delay_in_minutes }}</div>
                {% endif %}
            </div>
        </div>
        <div class="col-span-6">
            <div class="px-5 py-5 text-2xl font-bold text-blue">
                {{ departure.direction }}
                {% if departure.stations %}
                <div class="text-xl">
                    {% for station in departure.stations %}
                    {% if loop.first == true %}via {% endif %}
                        {{ station.name }}{% if loop.last == false %},{% endif %}
                    {% endfor %}
                </div>
                {% else %}
                    <div class="text-xl">
                        {% for message in departure.messages %}
                            {% if message.style == 'WARNING' %}
                            <span class="text-red">{{ message.content }}</span>
                            {% else %}
                            <span class="text-blue">{{ message.content }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="flex items-stretch col-span-2">
            <div class="self-center px-5 py-5 text-2xl font-bold text-blue">
                <div class="flex items-stretch platform-icon">
                    <div class="self-center">{{ departure.planned_track }}</div>
                </div>
            </div>
        </div>
        <div class="flex items-stretch col-span-3">
            <div class="self-center px-5 py-5 text-2xl font-bold text-blue">
                <img src="/images/ns-logo.svg" class="inline w-auto h-5" />
                {{ departure.product.long_category_name }}
            </div>
        </div>
    </div>
    {% else %}
    <div class="grid w-full grid-cols-12">
        <div class="col-span-1">
            <div class="px-5 py-5 text-2xl font-bold text-right text-grey-700">
                {{ departure.planned_time }}
            </div>
        </div>
        <div class="col-span-6">
            <div class="px-5 py-5 text-2xl font-bold text-grey-700">
                {{ departure.direction }}
                <div class="text-xl">
                    {% for message in departure.messages %}
                        {% if message.style == 'WARNING' %}
                        <span class="text-red">{{ message.content }}</span>
                        {% else %}
                        <span class="text-blue">{{ message.content }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="flex items-stretch col-span-2">
            <div class="self-center px-5 py-5 text-2xl font-bold text-grey-700">
                <div class="flex items-stretch platform-icon-grey">
                    <div class="self-center">{{ departure.planned_track }}</div>
                </div>
            </div>
        </div>
        <div class="flex items-stretch col-span-3">
            <div class="self-center px-5 py-5 text-2xl font-bold text-grey-700">
                <img src="/images/ns-logo-gray.svg" class="inline w-auto h-5" />
                {{ departure.product.long_category_name }}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="w-full py-6 bg-blue"></div>
</body>
</html>